*.7z
*.cache
*.dmg
*.map
*.gz
*.bak
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.swp
*.swo
*.dmp
*.orig
.DS_Store
.DS_Store?
Thumbs.db
desktop.ini
index.html

node_modules/
dist/

# Yarn 2 related folders
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
